:root {
    --primary-color: #6a1b9a;
    /* Roxo escuro */
    --secondary-color: #ab47bc;
    /* Roxo médio */
    --accent-color: #e1bee7;
    /* Roxo claro */
    --dark-color: #4a148c;
    /* Roxo muito escuro */
    --light-color: #f3e5f5;
    /* Cor clara */
}

.titulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 30px;
}

.btn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

#root {
    flex-direction: column;
}

/*hero section*/
.hero-frame {
    overflow: hidden;
    /*impede que a imagem vaze do quadro*/
}

.hero img,
.hero {
    /*Aplica propriedade cover para recortar a parte da imagem(e nao distorce la),
    definindo seu ponto de foco a partir da propriedade object-position
    object-fit: cover;*/
    height: 70vh;
}

/*Responsividade media-query*/
@media (max-width: 576px) {

    .hero img,
    .hero {
        height: 50vh;
    }
}